@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Secular+One&display=swap');
/*
font-family: 'Montserrat', sans-serif; cuerpo
font-family: 'Poppins', sans-serif; titulos
font-family: 'Secular One', sans-serif; negrita
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#inicio {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/Imagenes/fondo.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: blueviolet;
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
    color: blueviolet;
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion h1 {
    font-size: 65px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h3{
    font-size: 50px;
}

#inicio .contenido .presentacion h3 span {
    color: blueviolet;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid white;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover {
    background-color: blueviolet;
}

#icono-nav {
    color: white;
    display: none;
}